/*Default font*/

/*Colors*/

/*Max-width of screen*/

@font-face {
  font-family: "Merriweather";
  font-display: block;
  src: url("../fonts/Merriweather-Bold.woff2") format("woff2"), url("../fonts/Merriweather-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: block;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: block;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  padding: 0;
}

input,
textarea {
  outline: none;
  border: none;
}

img {
  display: inline-block;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

.checkbox input[type=checkbox] + span::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 2px solid #dadada;
}

.checkbox input[type=checkbox]:checked + span::before {
  border: 2px solid #009aaf;
}

.checkbox input[type=checkbox]:checked + span::after {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
  background-color: #53b5de;
  width: 9px;
  height: 9px;
}

.checkbox span {
  display: block;
  position: relative;
  padding-left: 2em;
}

.spoller {
  cursor: pointer;
}

.select {
  position: relative;
}

.select::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
}

.select select {
  cursor: pointer;
  background: none;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

.select select:focus {
  outline: none;
}

.select select option {
  color: #000000;
}

.tab-block {
  display: none;
}

.tab-block--active {
  display: block;
}

body {
  font-family: "Roboto", serif;
  font-size: 16px;
  color: #242424;
}

img {
  display: inline-block;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 13px;
}

.menu-icon {
  display: none;
  position: relative;
  width: 40px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: 0.7s all;
  -o-transition: 0.7s all;
  transition: 0.7s all;
}

.menu-icon span {
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #590D56;
}

.menu-icon span:nth-child(1) {
  top: 0;
}

.menu-icon span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu-icon span:nth-child(3) {
  bottom: 0;
}

.menu-icon.active {
  display: block;
}

.menu-icon.active span:nth-child(1) {
  top: 48.5%;
  -webkit-transform: rotate(45deg) translateY(-50%);
      -ms-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
}

.menu-icon.active span:nth-child(2) {
  opacity: 0;
}

.menu-icon.active span:nth-child(3) {
  bottom: 48.5%;
  -webkit-transform: rotate(-45deg) translateY(50%);
      -ms-transform: rotate(-45deg) translateY(50%);
          transform: rotate(-45deg) translateY(50%);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2%;
}

.wrapper div:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23%;
          flex: 0 1 23%;
}

.wrapper div:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 76%;
          flex: 0 1 76%;
}

.title {
  font-family: "Merriweather", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: min(1.5vh, 38px);
}

.btn {
  padding: min(3vh, 20px) min(13vw, 80px);
  line-height: 1.14;
  font-size: 18px;
  border-width: 1px;
  border-style: solid;
  border-radius: 34px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn.white {
  border-color: white;
  color: white;
}

.btn.plum {
  border-color: #47093E;
  color: #47093E;
}

.header {
  min-height: 100vh;
  padding: min(3vh, 28px) 0;
  background-image: url("../images/header/bg-plum.svg");
  background-repeat: no-repeat;
  background-position-y: 14vh;
  background-size: 100% calc(100% - 14vh);
}

.header__logo {
  position: relative;
  z-index: 3;
  width: clamp(135px, 22vw, 203px);
}

.header__logo svg {
  width: 100%;
}

.top-header {
  margin-bottom: 8vh;
}

.top-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5vw;
     -moz-column-gap: 5vw;
          column-gap: 5vw;
}

.top-header__list-link {
  width: clamp(24px, 7vw, 66px);
}

.top-header__list-link svg {
  width: 100%;
}

.top-header__list-btn {
  position: relative;
  z-index: 3;
  width: clamp(24px, 8vw, 66px);
}

.top-header__list-btn svg {
  width: 100%;
}

.bottom-header__inner {
  position: relative;
}

.bottom-header__content {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: max(33%, 360px);
}

.bottom-header__info {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  max-width: 868px;
  padding-top: max(3vh, 10px);
}

.content-header__title {
  font-family: "Merriweather", sans-serif;
  font-weight: 700;
  font-size: 55px;
  margin-bottom: min(22vh, 170px);
  line-height: 1;
}

.content-header__item + .content-header__item {
  margin-top: min(4vh, 32px);
}

.content-header__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 3vw;
  width: clamp(22px, 6vw, 67px);
}

.content-header__item-img svg {
  height: 100%;
}

.content-header__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 1.14;
  text-decoration-line: underline;
  color: #590D56;
}

.info-header {
  text-align: center;
}

.info-header__link {
  margin-top: min(7vw, 32px);
}

.slider-header {
  width: 100%;
  height: 396px;
  padding-bottom: min(8vw, 78px);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.slider-header .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-header .swiper-slide picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-header .swiper-button-prev,
.slider-header .swiper-button-next {
  top: auto;
  bottom: 0;
  width: min(8vw, 78px);
  height: min(10.5vh, 78px);
}

.slider-header .swiper-button-prev svg,
.slider-header .swiper-button-next svg {
  max-height: 100%;
}

.slider-header .swiper-button-prev::after,
.slider-header .swiper-button-next::after {
  font-size: 0;
}

.slider-header .swiper-button-prev {
  -webkit-transform: translateX(-120%);
      -ms-transform: translateX(-120%);
          transform: translateX(-120%);
  left: 50%;
}

.slider-header .swiper-button-next {
  -webkit-transform: translateX(120%);
      -ms-transform: translateX(120%);
          transform: translateX(120%);
  right: 50%;
}

.menu-header {
  -webkit-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  background-image: url("../images/header/menu/bg-lines-plum.svg");
  background-repeat: no-repeat;
  background-size: 100% calc(100% - 28vh);
  background-position-y: 10vh;
  padding-top: 25vh;
  left: 120%;
  top: 0;
  z-index: 2;
}

.nav-header__list {
  font-family: "Merriweather", sans-serif;
  line-height: 1;
  font-weight: 700;
  height: 60vh;
  overflow-y: auto;
}

.nav-header__item + .nav-header__item {
  margin-top: 8vh;
}

.nav-header__item-link {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.discount {
  margin-top: 14vh;
  padding: 2vh 0 3vh;
  border-top: 1px solid #47093E;
  border-bottom: 1px solid #47093E;
}

.discount__link {
  width: 100%;
}

.discount__content {
  font-weight: 300;
  font-size: 48px;
  line-height: 1.143;
  text-transform: uppercase;
  color: #590D56;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.discount__content span {
  display: inline-block;
  -webkit-animation: move 6s infinite linear;
          animation: move 6s infinite linear;
  padding-right: 6px;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }

  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }

  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
}

.advantages {
  padding-top: 14vh;
  padding-bottom: 16vh;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 262px;
          flex: 0 1 262px;
}

.advantages__item:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 360px;
          flex: 0 1 360px;
  position: relative;
}

.advantages__item:last-child .advantages__pop-up {
  max-width: 34vw;
  position: absolute;
  right: 1%;
  bottom: -5vh;
  display: inline-block;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  border: 1px solid #590D56;
  padding: 1vh 3vw;
  border-radius: 15px;
  background-color: white;
}

.advantages__item:last-child .advantages__pop-up::after {
  content: "";
  display: block;
  position: absolute;
  right: 9%;
  top: -2vh;
  border: 1vh solid transparent;
  border-bottom: 1vh solid #590D56;
}

.advantages__item:last-child .advantages__pop-up.visible {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.item-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3vw;
}

.item-advantages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.item-advantages__img {
  width: min(68px, 11vw);
  height: min(68px, 11vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-advantages__img svg {
  width: 100%;
}

.item-advantages__text {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.45;
}

.item-advantages__btn {
  margin-left: 0.5vw;
}

.item-advantages__btn:hover ~ .advantages__pop-up {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.head-actions__text {
  line-height: 1.5;
  color: #777;
}

.body-actions {
  position: relative;
}

.body-actions__list {
  border-top: 1px solid #47093E;
  border-bottom: 1px solid #47093E;
}

.body-actions__item {
  min-height: min(194px, 35vh);
}

.body-actions__item + .body-actions__item {
  border-top: 1px solid #47093E;
}

.body-actions svg {
  display: block;
  position: absolute;
  z-index: 3;
  max-width: 16%;
  max-height: 16%;
}

.body-actions svg:nth-child(2) {
  top: 3%;
  left: 15%;
}

.body-actions svg:nth-child(3) {
  top: 22%;
  right: 1%;
}

.body-actions svg:nth-child(4) {
  top: 38%;
  left: 8%;
}

.body-actions svg:nth-child(5) {
  top: 63%;
  right: -14%;
}

.body-actions svg:nth-child(6) {
  bottom: -2%;
  left: 14%;
}

.item-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: min(6vh, 32px) 0;
}

.item-actions__link {
  margin-right: min(16vw, 160px);
  font-size: 18px;
  line-height: 1.2;
  text-decoration: underline;
  color: #590D56;
  -ms-flex-item-align: end;
      align-self: flex-end;
  white-space: nowrap;
}

.item-actions__text {
  color: black;
  font-weight: 300;
  font-size: 30px;
  line-height: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

@media screen and (min-width: 992px) {
  .btn.white:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .btn.plum:hover {
    background-color: #590D56;
    color: white;
  }

  .nav-header__item-link:hover {
    color: #771373;
  }
}

@media screen and (min-height: 700px) and (min-width: 1060px) {
  .header {
    background-position: 100% 18vh;
    background-size: 110% calc(100% - 18vh);
  }
}

@media screen and (min-height: 1200px) and (min-width: 1160px) {
  .header {
    background-position: center 14vh;
    background-size: 100% calc(100% - 20vh);
  }
}

@media screen and (min-height: 1300px) and (min-width: 1160px) {
  .header {
    background-position: center 10vh;
  }
}

@media screen and (min-height: 1500px) and (min-width: 1160px) {
  .header {
    background-position: center 14vh;
    background-size: 140% calc(100% - 30vh);
  }
}

@media screen and (min-height: 900px) and (min-width: 1300px) {
  .top-header {
    margin-bottom: 12vh;
  }
}

@media screen and (min-height: 1000px) and (min-width: 1600px) {
  .content-header__title {
    margin-bottom: max(28vh, 170px);
  }
}

@media screen and (min-height: 900px) and (min-width: 1700px) {
  .bottom-header__info {
    padding-top: max(16vh, 10px);
  }
}

@media screen and (min-height: 1000px) and (max-width: 1600px) {
  .content-header__title {
    margin-bottom: max(26vh, 170px);
  }
}

@media screen and (max-width: 1390px) {
  .body-actions svg:nth-child(5) {
    right: 10%;
  }
}

@media (max-width: 1160px) {
  .title {
    font-size: calc(25px + 5 * ((100vw - 320px) / 840));
  }

  .btn {
    font-size: calc(14px + 4 * ((100vw - 320px) / 840));
  }

  .content-header__title {
    font-size: calc(45px + 10 * ((100vw - 320px) / 840));
  }

  .content-header__item-link {
    font-size: calc(16px + 2 * ((100vw - 320px) / 840));
  }

  .discount__content {
    font-size: calc(22px + 26 * ((100vw - 320px) / 840));
  }

  .item-advantages__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / 840));
  }

  .item-actions__text {
    font-size: calc(20px + 10 * ((100vw - 320px) / 840));
  }
}

@media screen and (min-height: 1000px) and (max-width: 1160px) {
  .bottom-header__info {
    padding-top: max(10vh, 10px);
  }
}

@media screen and (max-width: 1130px) {
  .bottom-header__info {
    max-width: 60%;
  }

  .slider-header {
    height: min(40vh, 396px);
  }

  .slider-header .swiper-slide picture {
    height: 100%;
  }

  .slider-header .swiper-slide img {
    max-height: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .discount {
    margin-top: 6vh;
  }

  .advantages {
    padding-top: 8vh;
    padding-bottom: 6vh;
  }

  .advantages__item:last-child .advantages__pop-up {
    right: 8%;
    max-width: 50vw;
  }
}

@media screen and (max-width: 950px) {
  .advantages__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 1vw;
  }
}

@media screen and (max-width: 935px) {
  .bottom-header__content {
    width: 33%;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    gap: 4%;
  }

  .bottom-header__content {
    width: max(34%, 295px);
  }

  .discount {
    margin-top: 2vh;
  }
}

@media screen and (max-width: 900px) and (max-height: 700px) {
  .header {
    background-position: center 14vh;
    background-size: 120% calc(100% - 26vh);
  }
}

@media screen and (max-width: 850px) {
  .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .wrapper div:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .wrapper div:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .title {
    margin-bottom: max(3vh, 38px);
  }

  .head-actions__title {
    text-align: center;
  }

  .head-actions__text {
    margin-bottom: max(3vh, 38px);
  }

  .body-actions svg:nth-child(3) {
    top: 27%;
  }

  .body-actions svg:nth-child(6) {
    left: 20%;
  }

  .item-actions__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
}

@media screen and (max-width: 770px) {
  .body-actions svg:nth-child(5) {
    right: 3%;
  }
}

@media screen and (max-width: 700px) {
  .header {
    background-position: center 14vh;
    background-size: 120% calc(100% - 26vh);
  }

  .discount {
    margin-top: 0;
  }
}

@media screen and (max-width: 650px) {
  .title {
    margin-bottom: max(3vh, 18px);
  }

  .btn {
    padding: min(3vh, 10px) min(13vw, 25px);
  }

  .header {
    background-position: center 16vh;
    background-size: 120% calc(100% - 70vh);
    padding: min(1vh, 10px) 0;
  }

  .bottom-header__content {
    position: static;
    width: 100%;
  }

  .bottom-header__info {
    position: static;
    max-width: 100%;
    padding-top: 0;
  }

  .content-header__title {
    margin-bottom: min(1vh, 170px);
  }

  .content-header__nav {
    margin-top: min(8vh, 70px);
  }

  .content-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: min(4vh, 32px);
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .content-header__item + .content-header__item {
    margin-top: 0;
  }

  .info-header__link {
    color: #5B0E58 !important;
    border-color: #5B0E58 !important;
    margin-top: min(7vw, 15px);
  }

  .slider-header {
    height: auto;
    padding-bottom: min(12vw, 78px);
  }

  .slider-header .swiper-slide picture {
    width: 100%;
  }

  .slider-header .swiper-slide img {
    width: 100%;
  }

  .slider-header .swiper-button-prev,
  .slider-header .swiper-button-next {
    width: min(11vw, 78px);
    height: min(8vh, 78px);
  }

  .slider-header .swiper-button-prev svg,
  .slider-header .swiper-button-next svg {
    width: 100%;
  }

  .slider-header .swiper-button-prev svg circle,
  .slider-header .swiper-button-next svg circle {
    stroke: #5B0E58;
  }

  .slider-header .swiper-button-prev svg path,
  .slider-header .swiper-button-next svg path {
    stroke: #5B0E58;
  }

  .menu-header {
    background-position-x: center;
    background-size: 120% calc(100% - 28vh);
  }

  .discount {
    margin-top: 2vh;
  }

  .advantages {
    padding-top: 4vh;
    padding-bottom: 5vh;
  }

  .body-actions__item {
    min-height: min(194px, 26vh);
  }

  .body-actions svg:nth-child(6) {
    bottom: 3%;
  }

  .item-actions {
    padding: min(3vh, 32px) 0;
  }
}

@media screen and (max-width: 555px) {
  .advantages__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .advantages__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 max(80vw, 262px);
            flex: 0 1 max(80vw, 262px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .advantages__item:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 max(80vw, 360px);
            flex: 0 1 max(80vw, 360px);
  }
}

@media screen and (max-width: 550px) {
  .body-actions__item {
    min-height: min(194px, 28vh);
  }

  .body-actions svg:nth-child(6) {
    left: 15%;
  }

  .item-actions__link {
    margin-right: min(10vw, 160px);
  }
}

@media screen and (max-width: 450px) {
  .header {
    background-position: center 18vh;
    background-size: 140% calc(100% - 60vh);
  }

  .menu-header {
    background-position-y: 12vh;
    background-size: 140% calc(100% - 38vh);
  }

  .head-actions__text {
    margin-bottom: max(3vh, 25px);
  }

  .body-actions__item {
    min-height: min(194px, 25vh);
  }

  .body-actions svg:nth-child(4) {
    top: 44%;
    left: 35%;
  }

  .body-actions svg:nth-child(6) {
    bottom: 0%;
    left: 30%;
  }

  .item-actions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: min(3vh, 32px) 0;
  }

  .item-actions__link {
    margin-right: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .item-actions__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media screen and (max-width: 380px) {
  .slider-header {
    padding-bottom: min(14vw, 78px);
  }
}

@media screen and (min-height: 600px) and (min-width: 700px) and (max-width: 900px) {
  .header {
    background-position: center 14vh;
    background-size: 120% calc(100% - 20vh);
  }
}

@media screen and (min-height: 700px) and (min-width: 700px) and (max-width: 899px) {
  .header {
    background-position: center 14vh;
    background-size: 140% calc(100% - 30vh);
  }
}

@media screen and (min-width: 900px) and (max-width: 1130px) {
  .bottom-header__info {
    padding-top: max(10vh, 10px);
  }
}

@media screen and (min-height: 1000px) and (min-width: 1160px) and (max-width: 1700px) {
  .bottom-header__info {
    padding-top: max(14vh, 10px);
  }
}

@media screen and (max-height: 750px) and (min-width: 650px) and (max-width: 1600px) {
  .content-header__title {
    margin-bottom: min(16vh, 170px);
  }
}

@media screen and (max-height: 650px) and (min-width: 650px) and (max-width: 1600px) {
  .content-header__title {
    margin-bottom: min(10vh, 170px);
  }
}

@media screen and (max-height: 530px) and (min-width: 650px) and (max-width: 1600px) {
  .content-header__title {
    margin-bottom: min(6vh, 170px);
  }
}

@media screen and (max-height: 900px) {
  .top-header {
    margin-bottom: 3vh;
  }

  .content-header__nav {
    margin-top: min(3vh, 70px);
  }
}
@supports (-webkit-appearance:none){
.header{background-image:url("../images/header/bg-plum.svg")}
.menu-header{background-image:url("../images/header/menu/bg-lines-plum.svg")}
}

 @media screen and (min-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-height: 700px) and (min-width: 1060px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-height: 1200px) and (min-width: 1160px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-height: 1300px) and (min-width: 1160px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-height: 1500px) and (min-width: 1160px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-height: 900px) and (min-width: 1300px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-height: 1000px) and (min-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-height: 900px) and (min-width: 1700px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-height: 1000px) and (max-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1390px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1160px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-height: 1000px) and (max-width: 1160px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1130px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1000px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 950px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 935px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 900px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 900px) and (max-height: 700px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 850px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 770px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 700px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 650px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 555px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 550px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 450px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 380px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-height: 600px) and (min-width: 700px) and (max-width: 900px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-height: 700px) and (min-width: 700px) and (max-width: 899px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 900px) and (max-width: 1130px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-height: 1000px) and (min-width: 1160px) and (max-width: 1700px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-height: 750px) and (min-width: 650px) and (max-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-height: 650px) and (min-width: 650px) and (max-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-height: 530px) and (min-width: 650px) and (max-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-height: 900px){

@supports (-webkit-appearance:none){

}

}
