.buy {
    padding-top: 13vh;
    padding-bottom: 1vh;
    
    @media screen and (max-width: 800px) {
        padding-top: 3vh;
    }
    @media screen and (max-width: 650px) {
        padding-top: 0;
    }

    &__inner {}
    &__head {
        @media screen and (max-width: 850px) {
            margin-bottom: 2vh;
        }
    }
    &__body {}
}
.head-buy {
    &__title {}
    &__text {
        line-height: 1.5;
        color: $grey1;
    }
}
.body-buy {
    picture {
        display: block;
        height: min(40vh, 400px);
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-height: 500px) {
            height: min(30vh, 400px);
        }

        img{
            display: block;
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__list {
        margin-top: min(5vh, 35px);
    }
}
.list-body-buy {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 400px) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vw;
    }

    &__item {
        flex: 0 1 min(33%, 263px);
        @media screen and (max-width: 1200px) {
            flex: 0 1 min(30%, 263px);
        }
        @media screen and (max-width: 400px) {
            flex: 0 1 min(100%, 263px);
        }
    }
    &__link {
        width: 100%;
        text-align: center;
        padding-right: 0;
        padding-left: 0;
    }
}
