.expert-opinion {
    padding: 13vh 0;

    @media screen and (max-width: 850px) {
        padding: 6vh 0;
    }    
    @media screen and (max-width: 650px) {
        padding: 4vh 0;
    }    
    @media screen and (max-width: 450px) {
        padding: 3vh 0;
    }    

    &__inner {}
    &__head {}
    &__body {}
}
.head-expert-opinion {
    @media screen and (max-width: 850px) {
        margin-bottom: 2vh;
    }    

    &__title {}
    &__text {
        line-height: 1.5;
        color: $grey1;
    }
}
.body-expert-opinion {
    max-width: 75%;
    @media screen and (max-width: 1100px) {
        flex: 0 1 71%;
        max-width: 71%;
    }  
    @media screen and (max-width: 1000px) {
        flex: 0 1 70%;
        max-width: 70%;
    }  
    @media screen and (max-width: 850px) {
        flex: 0 1 100%;
        max-width: 100%;
    }    

    &__slider {
        height: 690px;
        padding-bottom: 70px;
        width: 100%;

        @media screen and (max-width: 850px) {
            height: 490px;
        }    
        @media screen and (max-width: 650px) {
            height: 290px;
            padding-bottom: 50px;
        }        
        @media screen and (max-width: 450px) {
            height: 250px;
        }        

        .swiper {
            &-slide {
                a {
                    display: block;
                    transform: scale(1);
                    transition: transform .2s ease;
                    width: 100%;
                    height: 100%;
                }
                &-active{
                    &::before{
                        opacity: 1;
                    }    
                }
                picture {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
            
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
        
                }
    
            }
            &-pagination {
                text-align: left;

                @media screen and (max-width: 850px) {
                    text-align: center;
                }    
            
                .swiper-pagination-bullet{
                    width: 16px;
                    height: 16px;
                    border: 2px solid $plum2;
                    background-color: transparent;
                    margin: 0;

                    &-active{
                        border: 2px solid $plum1;
                        background-color: $plum1;
                    }


                }
                .swiper-pagination-bullet + .swiper-pagination-bullet {
                    margin-left: 16px;
                }

            }
        }
        
    }
}
.body-about-production {
    &__btn {}
}
