
/*Default font*/
$fontFamaly: "Roboto";

$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1160;

/*Colors*/
$plum1: #590D56;
$plum2: #47093E;
$plum3: #5B0E58;
$grey1: #777;
$grey2: #7A7A7A;
$grey3: #828282;
$dark: #242424;


@import "basic";

body{
    font-family: $fontFamaly, serif;
    font-size: 16px;
    color: $dark;
}
img{
    display: inline-block;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 13px;
}
.menu-icon{
    display: none;
    position: relative;
    width: 40px;
    height: 30px;
    cursor: pointer;
    transition: .7s all;
    span{
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $plum1;
        &:nth-child(1){
            top: 0;
        }
        &:nth-child(2){
            top: 50%;
            transform: translateY(-50%);
        }
        &:nth-child(3){
            bottom: 0;
        }
    }
    &.active{
        display: block;
        span{
            &:nth-child(1){
                top: 48.5%;
                transform: rotate(45deg) translateY(-50%);
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                bottom: 48.5%;
                transform: rotate(-45deg) translateY(50%);
            }
    
        }
    }
}
.wrapper{
    display: flex;
    gap: 1%;
    div:first-child{
        flex: 0 1 23%;
    }
    div:last-child{
        flex: 0 1 76%;
    }
}
.title {
    font-family: 'Merriweather', serif;
    @include adaptiv-font(30, 25, 1);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: min(1.5vh, 38px);
}
.btn {
    padding: min(3vh, 20px) min(13vw, 80px);
    line-height: 1.14;
    @include adaptiv-font(18, 14, 1);
    border-width: 1px;
    border-style: solid;
    border-radius: 34px;
    cursor: pointer;
    transition: all .3s;

    @media screen and (max-width: 650px) {
        padding: min(3vh, 10px) min(13vw, 25px);
    }
    
    &.white{
        border-color: white;
        color: white;

        &:hover{
            @media screen and (min-width: 992px) {
                background-color: rgba(white, .3);
            }
        }
    }
    &.plum{
        border-color: $plum2;
        color: $plum2;
        &:hover{
            @media screen and (min-width: 992px) {
                background-color: $plum1;
                color: white;
            }
        }
    }
}

@import "header";
@import "footer";

